@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-text: #FFFFFF;
    --secondary-text: #D8D4F2;
    --subtle-labels: #B8AEE0;
    --light-lavender: #A499C0;   
    --soft-purple: #8E6BC7;   
    --deep-violet: #5A3FA8;   
}

html, body {
    touch-action: manipulation;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #2E335A;
    background: linear-gradient(90deg,rgba(46, 51, 90, 1) 0%, rgba(28, 27, 51, 1) 100%); 
}

.app {
    width: 100%;
    height: 100vh;
    background-image: url('../images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.app.nobackground {
    background-image: none;
}

.app button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-clock h3 {
    color: white;
    margin: 0px 0px 0px 10px;
    font-weight: 300;
    font-size: 15px;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0px 5px 0px 0px;
}

.header-icons i {
    color: var(--main-text);
    font-size: 15px;
}

.main {
    height: 95%;
    width: 100%;
    position: relative;
}

.main-screen-1, .main-screen-2 {
    width: 100%;
    height: 100%;
}

.main-screen-1 {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.main-screen-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main-screen-1.invisible, .main-screen-2.invisible {
    display: none;
}

